.game__page {
  cursor: url('/red-cursor.png'), no-drop;
}

.character {
  width: 48px;
  padding: 8px;
}

.start {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    background-color: white;
    border: solid white 2px;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.game__header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;

  &__characters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.character__header {
  display: none;
}

.search {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.search__img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

@media (max-width: 850px) {
  .game__header {
    display: none;
  }

  .character__header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background: black;
    color: white;
    border-radius: 5px;
    border: solid white 1px;
    z-index: 2;
  }

  .search__img {
    min-width: 1200px;
    overflow: visible;
  }
}

.dropdown {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: solid white 1px;
  padding: 5px;
  position: absolute;
  cursor: pointer;

  &__characters {
    display: flex;
    flex-direction: column;
  }
}
