.game__page {
  cursor: none;
}

.circular_cursor {
  position: absolute;
  width: 20px; 
  height: 20px;
  border-radius: 50%;
  background-color: transparent; 
  border: 3px solid red;
  pointer-events: none; 
  transform: translate(-50%, -50%);
  transition: all 0.1s ease; 
}

.game__header {
  background-color: black;
  color: white;
  display: flex;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  &__img {
    width: 100vw;
  }
}

.dropdown {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  cursor: pointer;
}