
.title {
  font-weight: 200;
  width: 100%;
  text-align: center;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.game {
  border-radius: 10px;
  border: solid black;
  text-align: center;

  &__image {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }

  :hover {
    cursor: pointer;
  }
}


